.container {

    height: 100%;
}

/*     .div_kiri {

    border: 1px solid black;
    background-color: #282a36;
    color: white;
    height: 100%;
    width: 0;
    padding-right: 5px;
    float: left;
} */

.div_kanan {
    padding-left: 100px;
    border: 2px solid black;
    transition: margin-left .5s;
    padding: 16px;

}

.tabel_nama {
    text-align: center;
    font-size: 50px;
    border: 1px solid black;
    width: 100%;
    height: 70px;
    background-color: yellow;
    color: black
}

.tabel_kiri{
    text-size-adjust: 3px;
}

.kontak {
    text-align: center;
    padding-right: 50px;
    border-bottom: 2px solid yellow;
    margin-top: -10px;

}

.edu {
    text-align: center;
    border-bottom: 2px solid yellow;

}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    padding-top: 0px;
    overflow: hidden;
    border-right: 2px solid yellow;
}

.sidebar table {
    padding: 0px 0px 8px 0px;
    text-decoration: none;
    font-size: 10px;
    color: white;
    display: block;
    transition: 0.3s;
    
}

.sidebar a:hover {
    color: red;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 25px;
    margin-left: 0px;
    text-decoration: none;
    color: aliceblue;
}

.closebtn:hover {
    color: red;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
    width: 100%;
    margin-bottom: 10px;
}

.openbtn:hover {
    background-color: #444;
}
.gambar{
    height: 100px;
    width: 100px;
}


/* CSS untuk pengguna HP */
@media screen and (max-width: 1368px) {
    .sidebar {
        overflow-x: visible;
        width: 210px;
    }

    .div_kanan {
        margin-left: 210px;
    }

    .openbtn {
        display: none;
    }

    .closebtn {
        display: none;
    }
    .gambar{
        display: block;
        height: 200px;
        width: 200px;
        
    }
    .edu{
        padding-left: 30px;
    }
    .kontak{
        margin-top: 0;
        padding-right: 0;
        padding-left: 30px;
    }

}

/* DARK MODE */

body{
    background: white;
    transition: 0.5s;
}

#toggle{
    
    margin-top: 80px;
    display: block;
    width: 195px;
    height: 65px;
    border-radius: 160px;
    background: white;
    transition: 0.5s;
    cursor: pointer;
    border: 5px inset yellow

}

#toggle.active{
    background: black;
}

#toggle .indicator{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: orange;
    border-radius: 50%;
    margin: 0px 0px 0px 4px;
    transform: scale(0.9);
    padding-top: 5px;
}

#toggle.active .indicator{
    left: 120px;
    background-color:red;
    position:absolute;
    background-color:transparent;
    border-radius:50%;
    box-shadow:15px 5px 0 1px #FEFCD7;
    padding-top: 0;
}

body.active{
    background: #44475a;
    color: white;
}

body.active .div_kanan{
    border: 2px solid yellow;
}